{{define "daily" -}}
Daily COVID-19 update in {{.Country}}
{{.Date}}

Confirmed: {{.ConfirmedCumulative}} (+{{.Confirmed}})
Recovered: {{.RecoveredCumulative}} (+{{.Recovered}})
Deceased: {{.DeceasedCumulative}} (+{{.Deceased}})

{{.Comment}}
{{- end}}